    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MicroReddit</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if logged_in? %>
                <li class="nav-item"><%= link_to "Log out", logout_path,  method: :delete,  class: "nav-link"%></li>
                <li class="nav-item"><%= current_user.username %></li>
                <li class="nav-item"><%= link_to "view posts", posts_path, class: "nav-link"%></li>
                <li class="nav-item"><%= link_to "create post", new_post_path, class: "nav-link"%></li>
            <% else %>
                   <li><%= link_to "Login", login_path  %></li>
                   <li><%= link_to "Sign Up", signup_path  %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>